---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout>
    <h1>About Me</h1>
    <p>You can learn more about me <a href="https://andreww.xyz/page/about/">on my other site.</a></p>
</BaseLayout>