---
import BaseLayout from '../layouts/BaseLayout.astro'
const title = "My Blog"
	const blogPosts = Astro
		.fetchContent('./blog/*.md')
		.map((post) => {
			return (
				<li>
					<a href={post.url}>{post.title}</a>
				</li>
			)
		})
---
<BaseLayout>
<h1>{title}</h1>
	<ol>{blogPosts}</ol>
</BaseLayout>