---
import BaseLayout from '../layouts/BaseLayout.astro';
import MainPageLayout from '../layouts/MainPageLayout.astro';

---
<MainPageLayout title="Triptych">
    <h1>Triptych</h1>
    <p>Welcome to my New homepage. Lots of cool things to come.</p>
</MainPageLayout>