---
import MainPageLayout from '../layouts/MainPageLayout.astro';

---
<MainPageLayout title="Triptych">
    <h1>Triptych</h1>
    <p>
        Welcome to my new homepage. 
        This is where you can find all my creations and everything about me.
    </p>

    <h2>Latest Stuff</h2>
    <ul>
        <li>This site itself is brand new, and the latest thing here.</li>
        <li>We're light on links, but laying the groundwork - here's the site <a href="https://github.com/triptych/triptych-homepage">repo</a>.</li>
    </ul>
</MainPageLayout>