---
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.svelte';
const {title} = Astro.props;
---
<html>
    <head>
        <title>{title}</title>
        <!-- <link rel="stylesheet" href="/style/home.css"> -->
        <link rel="stylesheet" href="/style/sakura.css" >
        <link rel="stylesheet" href="/style/global.css">
	    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <Header client:visible/>
        <main>
            <slot/>
        </main>
        <Footer client:visible/>

    </body>
</html>    