---
import BaseLayout from './BaseLayout.astro'
const {title, content} = Astro.props;
---
<BaseLayout title="Triptych:Home">
    <h1>{content.title}</h1>
    <div><img src="{content.thumbnail}"/></div>
    <hr/>
    <p><slot/></p>
</BaseLayout>
