---
import BaseLayout from './BaseLayout.astro'
const {title} = Astro.props;
---

<!-- this layout uses BaseLayout -->
<BaseLayout title="Triptych:Home">
<!--
    <div class="container">
        <div class="left"> this is my left hand stuff</div>
        <div class="right">
            <div class="upper"><slot/></div>
            <div class="middle">Middle Element</div>
            <div class="lower">Lower Element</div>
        </div>
    </div> -->
    <div class="container">
        <slot/>
    </div>
</BaseLayout>
